/*默认样式*/
*{
    box-sizing: border-box;
    margin:0 auto;
}

body{
    background-image: url(/images/subtle-pattern-1.jpg);
}

.topnav{
    width:100%;
    background-color:#A5DEE4 ;
    overflow: hidden;
    /*了解！*/
}


.topnav a{
    float: left;
    display: block;
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .title{
    color: black;
}



ruby{
    text-shadow: 3px 3px 1px white;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
}

.topnav a:hover{
    background-color: #78C2C4;
}

.topnav a.active{
    background-color: #4c9a9c;
    font-weight: bold;
}

.topnav input[type=text]{
    padding: 6px;
    border:none;
    margin-top:8px;
    margin-right: 16px;
}

.topnav .search-container{
    float: right;
}
.topnav .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

/*当屏幕宽度小于600px时， 垂直堆叠显示菜单选项和搜索框*/
@media screen and (max-width:600px)
{
    .topnav .search-container {
        float: none;
      }
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button{
        float:none;
        text-align: left;
        width:100%;
        margin:0;
        padding: 14px;
    }

    .topnav input[type=text]{
        border:1px solid #ccc;
    }
}

/*登陆部分*/
#register{
    width: 80%;
    margin-top: 100px;
    padding: 50px;
    border: 5px solid  rgb(238, 237, 237);
}

#register input:invalid{
    background-color: #ffdddd;
}

#register form:invalid{
    background-color: #ffdddd;
}
  
#register input:valid{
    background-color: #ddffdd;
}
  
#register form:valid{
    background-color: #ddffdd;
}

form {
    display: table;
    margin: 0 auto;
}

form div {
    display: table-row;
}

form label, form input {
    display: table-cell;
    margin-bottom: 10px;
}

form label {
    width: 200px;
    padding-right: 5%;
    text-align: right;
}

form input {
    width: 300px;
}

form p {
    display: table-caption;
    caption-side: bottom;
    width: 300px;
    color: #999;
    font-style: italic;
}


/*flex布局*/
.journal1,
.journal2,
.journal3{
    display: flex;
    margin-top:20px;
    margin-bottom: 20px;
    width: 80%;
    background-color:white ;
    padding: 20px;
    border: 1px solid rgb(238, 237, 237);
    box-shadow: 0px 0px 10px grey;
}

img{
    height:500px;
}

.description1,
.description2,
.description3{
    margin:auto;
    width: 500px;
    font-size: 17px;
}